<div class="card-product m--gutter">
    <div class="card-product--image"><img
            src="//cdn.shopify.com/s/files/1/0578/3427/4974/files/jar_mockup1_900x.jpg?v=1629304248" alt=""
            loading="lazy" width="" height="">
    </div>
    <div class="card-product--info t--center p--1">
        <h3 class="h--md card-information__text h5">
            40+ Hormonal Wellness
        </h3>
        <div class="t--xs mt--1 mb--1">IMPROVE MOOD, RESILIENCE, SLEEP &amp; PERIODS.</div>
        <div class="price t--xs">
            <span class="price__regular">
                $39.99
            </span>
        </div>

        <a href="" class="button button-xs button-full mt--1">Add to Bag</a>

    </div>
</div>