<div class="template-404 inner pt--5 pb--5 t--center">
  <p class="t--xs">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="h--xxl mb--1">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="t--md t--link">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>