<div class="inner page-singlecolumn">
    <h1 class="h--xxl mb--2">
      {{ page.title | escape }}
    </h1>
    <div class="rte">
      {{ page.content }}
    </div>
</div>
  
{% schema %}
{
    "name": "Single Column",
    "tag": "section"
}
{% endschema %}