<div id="hero-{{ section.id }}" class="hero_banner hero_banner_sweepstakes">
  <div class="hero_banner-content">
    <h1 class="hero_banner-heading h--xxl" {{ block.shopify_attributes }}>
        Hot Summer Sweepstakes
    </h1>
    <p>Enter to win summer favorites from Miraclesuit, Kari Gran, Töst, Wile and more to take you from day to night. <br>Presented by Wile, the wellness brand for grown women.</p>
  </div>
</div>
<div class="sweepstake-row">
  	<div class="sweepstake-row-body">
        <h2 class="h--xl">How to enter <br>(nearly $1,000 value)</h2>
      	<p class="mb--1" data-list="1">Follow <a href="https://www.instagram.com/wilewomen" target="_blank">@<strong>wilewomen</strong></a> on Instagram.</p>
      	<p class="mb--1" data-list="2">Like our <strong>sweepstakes post</strong> on Instagram.</p>
		<p class="mb--0" data-list="3">Enter your email address.</p>
      	<div class="klaviyo-form-TPit8k"></div>
      <p class="t--xxs"><em>Please see rules, terms and conditions below. Entry affirms you have read and understood all rules, terms and conditions.</em></p>
    </div>
  	<div class="sweepstake-row-image">
      	<img src=https://cdn.shopify.com/s/files/1/0578/3427/4974/files/sweepstakes-day_20487ad9-c234-4df4-8378-7789fb57576e.jpg?v=1655911194" alt="" height="" width="" loading="lazy">
    </div>
</div>
<div class="sweepstake-row">
  	<div class="sweepstake-row-body">
        <h2 class="h--xl">More ways to <br>increase your odds:</h2>
        <p>+1 entry for tagging a friend in a comment our Instagram post.</p>
      <p>+1 entry for sharing to your Instagram story (tag <a href="https://www.instagram.com/wilewomen" target="_blank">@<strong>wilewomen</strong></a>).</p>
    </div>
  	<div class="sweepstake-row-image">
      	<img src="https://cdn.shopify.com/s/files/1/0578/3427/4974/files/sweepstakes-night.jpg?v=1655500970" alt="" height="" width="" loading="lazy">
    </div>
</div>

<div class="sweepstake-list">
  <div class="inner">
      <div class="rte t--xs">
        <ul>
            <li>
				Wile <a href="https://www.instagram.com/wilewomen" target="_blank">@wilewomen</a><br>
				Coolibar <a href="https://www.instagram.com/coolibar" target="_blank">@coolibar</a>
          	</li>
			<li>
              	Kari Gran <a href="https://www.instagram.com/karigranskin" target="_blank">@karigranskin</a><br>
             	Miraclesuit <a href="https://www.instagram.com/miraclesuitswim" target="_blank">@miraclesuitswim</a><br>
          		Töst <a href="https://www.instagram.com/tostbeverages" target="_blank">@tostbeverages</a>
          	</li>
            <li>
				Rosebud Woman <a href="https://www.instagram.com/rosebudwoman" target="_blank">@rosebudwoman</a><br>
				Slumber Cloud <a href="https://www.instagram.com/slumbercloud" target="_blank">@slumbercloud</a>
          	</li>
        </ul>
      </div>
  </div>
</div>

<div class="inner sweepstake-legal">
    <div class="rte t--xxs">
      {{ page.content }}
    </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
