
<div class="bg--white pt--3 pb--3 inner">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>


{% schema %}
{
  "name": "Product Reviews",
  "tag": "section"
}
{% endschema %}
